service: opensheet

image: benborgers/opensheet

servers:
  - 89.167.18.108

registry:
  username: benborgers
  password:
    - KAMAL_REGISTRY_PASSWORD

builder:
  arch: amd64

proxy:
  hosts:
    - opensheet-kamal.elk.sh
    - opensheet.elk.sh
  app_port: 3000
  ssl: true
  healthcheck:
    path: /up

env:
  clear:
    REDIS_URL: redis://opensheet-redis:6379
    PGHOST: opensheet-db
    PGPORT: "5432"
    PGDATABASE: opensheet
    PGUSER: opensheet
  secret:
    - GOOGLE_API_KEY
    - PGPASSWORD

accessories:
  db:
    image: postgres:16
    host: 89.167.18.108
    port: "127.0.0.1:5432:5432"
    env:
      clear:
        POSTGRES_USER: opensheet
        POSTGRES_DB: opensheet
      secret:
        - POSTGRES_PASSWORD
    directories:
      - data:/var/lib/postgresql/data

  redis:
    image: redis:7
    host: 89.167.18.108
    port: "127.0.0.1:6379:6379"
    directories:
      - data:/data
